@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");


@theme {
  --font-lato: "Lato", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
  --color-primary: #7e33e0;
  --color-primary-dark: #0d0e43;
  --color-primary-light: #f6f5ff;
  --color-secondary: #fb2e86;
};

@layer components {
  .container {
    @apply px-3 mx-auto;
  }

  .track {
    @apply border border-red-500 bg-red-50;
  }
}

/* .track {
  border: 1px solid red;
  background-color:red;
} */
