@import "tailwindcss";

/* body {
  background-color: #333;
  color: whitesmoke;
} */

.uppercase {
  text-transform: uppercase;
}

.todo {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: yellow;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid;
  padding: 0.5rem;
}

.track {
  border: 1px solid red !important;
}

.featured-coursess {
  grid-template-columns: repeat(1, 1fr);
}

/* landscaped */
@media (min-width:640px) {
  .featured-coursess {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* tablet */
@media (min-width:768px) {
  .featured-coursess {
    grid-template-columns: repeat(3, 1fr);
  }
}



.rc-pagination {
  display: flex;
  gap:1rem;
}

.rc-pagination-item-active{
  color: red;
}